* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.temp-converter {
  width: 350px;
  height: 200px;
  border: 1px solid black;
}

h1 {
  background-color: pink;
  color: blue;
  text-align: center;
  margin-bottom: 10px;
}

.value {
  padding-left: 5px;
  padding-bottom: 10px;
}

.scale-class {
  display: flex;
  /* justify-content: space-between; */
}

.sacle-values {
  margin-left: 30px;
  padding-inline: 10px;
  /* display: flex; */
  /* justify-content: space-evenly; */
}

.buttons {
  display: flex;
  justify-content: center;
}

.cal-btn {
  margin-right: 10px;
}

.clr-btn {
  margin-left: 10px;
}

#calculate {
  padding: 5px;
}

#clear {
  padding: 5px;
}

#result {
  font-size: larger;
}
