* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: gray;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.bmi-cal {
  width: 400px;
  height: 300px;
  display: flex;
  flex-flow: column wrap;
  justify-content: start;
  border: 1px solid black;
  background-color: whitesmoke;
}

.value {
  padding-left: 5px;
  padding-bottom: 10px;
  font-size: large;
}

h1 {
  background-color: blue;
  text-align: center;
  color: white;
  padding: 10px;
  margin-bottom: 10px;
}

.buttons {
  display: flex;
  justify-content: space-around;
}

#calculate {
  padding-inline: 10px;
  padding-block: 5px;
  margin-left: 60px;
  background-color: green;
  color: white;
  font-weight: 500;
  font-size: larger;
  cursor: pointer;
  border-radius: 15px;
}

#clear {
  margin-right: 100px;
  padding-inline: 10px;
  padding-block: 2px;
  background-color: gray;
  color: white;
  font-weight: 400;
  font-size: large;
  cursor: pointer;
  border-radius: 15px;
}

#result-input::placeholder {
  color: white;
  opacity: 1;
}
